In [37]:
import pandas as pd
import numpy as np
import json
import os

In [38]:
notas = pd.read_csv('notas_discentes_2017.1.csv', sep=';', encoding='latin1')
notas = notas.drop(['Nome', 'Siape', 'Horário', 'Situação'], axis=1)

In [39]:
#rascunhos de teste

# notasFinal = pd.DataFrame()
# vetorTeste = []
# for i in range(len(notas)):
#     one_nota=notas.loc[i]
#     if one_nota['Nota'][0].isdigit():
#         notasFinal=notasFinal.append(one_nota)
# notasFinal = notasFinal.reset_index() 
# notasFinal = notasFinal.drop('index', axis=1)
# notasFinal

In [40]:
#rascunhos de teste

# for i in range(len(notasFinal)):
#     notasFinal['Nota'][i] = float(notasFinal['Nota'][i])
# notasFinal

In [41]:
#rascunhos de teste

# notasFinal['Situação']=0
# for i in range(len(notasFinal)):
#     if notasFinal['Nota'][i]>=5:
#         notasFinal['Situação'][i]=1
# notasFinal

In [42]:
teste= pd.read_csv('notas_discentes_2017.1.csv', sep=';', encoding='latin1')
csv_todo=teste.copy()
teste = teste.drop(['Nome', 'Siape', 'Horário'], axis=1)

# pegando somente aqueles que contem uma nota final
testeS = pd.DataFrame()
vetorTeste = []
for i in range(len(notas)):
    one_nota=teste.loc[i]
    if one_nota['Nota'][0].isdigit():
        testeS=testeS.append(one_nota)
testeS = testeS.reset_index() 
testeS = testeS.drop('index', axis=1)

In [43]:
for i in range(len(testeS)):
    testeS['Nota'][i] = float(testeS['Nota'][i])

In [44]:
#rascunhos de teste

# testeF = notasFinal.drop('Situação', axis=1)
# testeF

In [45]:
#rascunhos de teste

# testeSF = pd.DataFrame()

# for i in range(len(testeS)):
#     one_nota=testeS.loc[i]
#     if one_nota['Nota'][0].isdigit():
#         testeSF=testeSF.append(one_nota)
# testeSF = testeSF.reset_index() 
# testeSF = testeSF.drop('index', axis=1)

# for i in range(len(testeSF)):
#     testeSF['Nota'][i] = float(testeSF['Nota'][i])
# testeSF

In [46]:
#agrupando quantidade de situações por código e turma

porSituacao = testeS.groupby(['Período', 'Código', 'Turma', 'Situação'])['Matrícula'].count().reset_index(name='Alunos')
porSituacao=porSituacao.drop('Período', axis=1)
porSituacao

       Código Turma           Situação  Alunos
0     ADM0001     3           APROVADO       3
1     ADM0054     2  APROVADO POR NOTA       1
2     ADM0055     1           APROVADO       1
3     ADM0057     2           APROVADO       1
4     ADM0059     2           APROVADO       1
...       ...   ...                ...     ...
1923  QUI0065     1           APROVADO       1
1924  QUI1000     1           APROVADO      14
1925  QUI1000     1  APROVADO POR NOTA      13
1926  ZOO0300     1           APROVADO       1
1927  ZOO0300     1          CANCELADO       1

[1928 rows x 4 columns]

In [47]:
#rascunhos de teste

# final = pd.DataFrame(columns=['Código'])
# for i in range(len(porSituacao)):
#     oneCod = porSituacao[porSituacao['Código']==porSituacao['Código'][i]]
#     temTurma = final[final['Código']==oneCod['Código'][i]]
#     if len(temTurma)>0:
#         continue
#     nTurmas=pd.DataFrame()
#     oneCod = oneCod.reset_index()
#     oneCod = oneCod.drop('index', axis=1)
#     qtdTurmas=oneCod['Turmas'].drop_duplicates().tolist()
#     for a in range(len(qtdTurmas)):
#         turmaAqui=oneCod[oneCod['Turma']==qtdTurmas[a]]
#         nSitu = pd.DataFrame()
#         qtdSitu=turmaAqui['Situação'].drop_duplicates().tolist()
#         for b in range(len(qtdSitu)):
# #             situAqui=turmaAqui['Situação']
#             b=dict({'Situação':qtdSitu[i], Alunos:''})
#         nTurmas=
#     final=final.append(oneCod)

In [48]:
#trazendo o objetivo final: agrupar quantidade de cada situação por nome/código

situacoes=porSituacao['Situação'].drop_duplicates().tolist()
final = pd.DataFrame(columns=[''])
for i in range(len(porSituacao)):
    oneCod = porSituacao[porSituacao['Código']==porSituacao['Código'][i]]
    if i!=0:
        temTurma = final[final['Code']==oneCod['Código'][i]]
        if len(temTurma)>0:
            continue
    codigoAqui=oneCod['Código'].tolist()
    codigoAqui=codigoAqui[0]
    nomeAqui=csv_todo[csv_todo['Código']==codigoAqui]
    nomeAqui=nomeAqui['Nome'].tolist()
    nomeAqui=nomeAqui[0]
    
    situAqui=oneCod['Situação'].tolist()
    semSitu=list(set(situacoes) - set(situAqui))
    
    qtdApr=0
    qtdRepPN=0
    qtdRepPMF=0
    qtdExc=0
    qtdRep=0
    qtdRepPF=0
    qtdAprPN=0
    qtdCan=0
    qtdRepPNF=0
    qtdTra=0
    
    for a in situacoes:
        for b in situAqui:
            if b==a and b=='APROVADO':
                qtdApr=oneCod[oneCod['Situação']==b]
                qtdApr=qtdApr['Alunos'].tolist()
                qtdApr=qtdApr[0]
                continue
            if b==a and b=='CANCELADO':
                qtdCan=oneCod[oneCod['Situação']==b]
                qtdCan=qtdCan['Alunos'].tolist()
                qtdCan=qtdCan[0]
                continue
            if b==a and b=='REPROVADO':
                qtdRep=oneCod[oneCod['Situação']==b]
                qtdRep=qtdRep['Alunos'].tolist()
                qtdRep=qtdRep[0]
                continue
            if b==a and b=='EXCLUIDA':
                qtdExc=oneCod[oneCod['Situação']==b]
                qtdExc=qtdExc['Alunos'].tolist()
                qtdExc=qtdExc[0]
                continue
            if b==a and b=='REPROVADO POR NOTA':
                qtdRepPN=oneCod[oneCod['Situação']==b]
                qtdRepPN=qtdRepPN['Alunos'].tolist()
                qtdRepPN=qtdRepPN[0]
                continue
            if b==a and b=='REPROVADO POR MÉDIA E POR FALTAS':
                qtdRepPMF=oneCod[oneCod['Situação']==b]
                qtdRepPMF=qtdRepPMF['Alunos'].tolist()
                qtdRepPMF=qtdRepPMF[0]
                continue
            if b==a and b=='APROVADO POR NOTA':
                qtdAprPN=oneCod[oneCod['Situação']==b]
                qtdAprPN=qtdAprPN['Alunos'].tolist()
                qtdAprPN=qtdAprPN[0]
                continue
            if b==a and b=='TRANCADO':
                qtdTra=oneCod[oneCod['Situação']==b]
                qtdTra=qtdTra['Alunos'].tolist()
                qtdTra=qtdTra[0]
                continue
            if b==a and b=='REPROVADO POR FALTAS':
                qtdRepPF=oneCod[oneCod['Situação']==b]
                qtdRepPF=qtdRepPF['Alunos'].tolist()
                qtdRepPF=qtdRepPF[0]
                continue
            if b==a and b=='REPROVADO POR NOTA E FALTA':
                qtdRepPNF=oneCod[oneCod['Situação']==b]
                qtdRepPNF=qtdRepPNF['Alunos'].tolist()
                qtdRepPNF=qtdRepPNF[0]
                continue
#     qtdApr=0
#     qtdRepPN=0
#     qtdRepPMF=0
#     qtdExc=0
#     qtdRep=0
#     qtdRepPF=0
#     qtdAprPN=0
#     qtdCan=0
#     qtdRepPNF=0
#     qtdTra=0
    b=dict({'Code':codigoAqui, 'Name':nomeAqui, 'APPROVED':qtdApr, 'CANCELED':qtdCan, 'DISAPPROVED':qtdRep,
            'EXCLUDED':qtdExc, 'DISAPPROVED BY GRADE':qtdRepPN, 'DISAPPROVED BY MEAN AND BY ABSENCE':qtdRepPMF,
            'APPROVED BY GRADE':qtdAprPN, 'LOCK':qtdTra, 'DISAPPROVED BY ABSENCE':qtdRepPF, 'DISAPPROVED BY GRADE AND ABSENCE':qtdRepPNF})
    final=final.append(b, ignore_index=True)
final=final.drop('',axis=1)
# final.fillna(0).to_json(force_ascii=False,orient='records')

In [49]:
final

,APPROVED,APPROVED BY GRADE,CANCELED,Code,DISAPPROVED,DISAPPROVED BY ABSENCE,DISAPPROVED BY GRADE,DISAPPROVED BY GRADE AND ABSENCE,DISAPPROVED BY MEAN AND BY ABSENCE,EXCLUDED,LOCK,Name
0,3.0,0.0,0.0,ADM0001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,INTRODUCAO A ADMINISTRACAO
1,0.0,1.0,0.0,ADM0054,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"PODER, POLÍTICA E GESTÃO"
2,1.0,0.0,0.0,ADM0055,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FILOSOFIA E ÉTICA NAS ORGANIZAÇÕES
3,1.0,0.0,0.0,ADM0057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,MARKETING I
4,1.0,0.0,0.0,ADM0059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,GESTÃO DA TECNOLOGIA DA INFORMAÇÃO
...,...,...,...,...,...,...,...,...,...,...,...,...
328,1.0,0.0,0.0,PTR0412,0.0,0.0,0.0,0.0,2.0,0.0,0.0,MÉTODOS DE RECUPERAÇÃO SUPLEMENTAR
329,3.0,0.0,0.0,PTR0515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FENÔMENOS DE SUPERFÍCIE APLICADOS AOS FLUIDOS ...
330,1.0,0.0,0.0,QUI0065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SEMINÁRIOS PARA O CURSO DE QUÍMICA
331,14.0,13.0,0.0,QUI1000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QUÍMICA AMBIENTAL
332,1.0,0.0,1.0,ZOO0300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ZOOTECNIA GERAL

In [50]:
#rascunhos de teste

# situacoes=porSituacao['Situação'].drop_duplicates().tolist()
# oneCod = porSituacao[porSituacao['Código']==porSituacao['Código'][0]]
# situAqui=oneCod['Situação'].tolist()
# situAqui

In [51]:
#rascunhos de teste

# result = list(set(situacoes) - set(situAqui))
# result